/* ======================================================
   VARIABLES GLOBALES
====================================================== */
:root {
    --color-principal: #2c7a74;
    --color-secundario: #3aa394;
    --color-texto: #103a2f;
    --color-gris: #5E6F66;
    --color-fondo: #f8fdfc;
    --font-main: 'Helvetica Neue', Arial, sans-serif;
    --font-secundario: 'Georgia', serif;
    --text-small: 0.875rem;
    --text-base: 1rem;
    --text-medium: 1.125rem;
    --text-large: 1.375rem;

    --size: 1rem;
    --radius-lg: 1rem;
    --radius-sm: 0.75rem;
    --size: 0.25rem;
}


/* Reset b치sico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background: var(--color-fondo);
    color: var(--color-texto);
}

/*--HEADER--*/
.header {
    width: 100%;
    padding: 8px 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo img {
    width: 200px;
}

.header__logo span {
    font-size: var(--text-large);
    font-weight: 600;
    color: var(--color-principal);
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.header__nav ul li a {
    text-decoration: none;
    font-size: var(--text-medium);
    color: var(--color-gris);
    transition: 0.3s;
}

.header__nav ul li a:hover {
    color: var(--color-principal);
}

/* Bot칩n Agendar Cita */
.btn-cita {
    background: var(--color-principal);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: var(--text-medium);
    transition: 0.3s;
}

.btn-cita:hover {
    background: var(--color-secundario);
}

/*--HERO--*/
.hero {
    width: 100%;
    height: 95vh;
    background: url('../img/hero-therapy.jpg') center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 60px;

    /* capa tenue encima de la imagen */
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.65);
}

.hero__content {
    max-width: 650px;
    z-index: 2;
}

.hero__tag {
    background: rgba(44, 122, 116, 0.15);
    padding: 8px 18px;
    border-radius: 20px;
    font-size: var(--text-small * 2);
    color: var(--color-principal);
    font-weight: 500;
}

.hero__title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 25px;
    color: var(--color-texto);
    font-family: var(--font-secundario)
}

.hero__title span {
    color: var(--color-principal);
}

.hero__text {
    margin-top: 20px;
    font-size: var(--text-medium);
    color: var(--color-gris);
    line-height: 1.6;
}

/* Botones */
.hero__buttons {
    margin-top: 35px;
    display: flex;
    gap: 20px;
}

.btn-primary {
    background: var(--color-principal);
    color: white;
    padding: 12px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-size: var(--text-medium);
    transition: 0.3s;
}

.btn-primary:hover {
    background: var(--color-secundario);
}

.btn-outline {
    border: 2px solid var(--color-principal);
    padding: 12px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-size: var(--text-medium);
    color: var(--color-principal);
    transition: 0.3s;
}

.btn-outline:hover {
    background: var(--color-principal);
    color: white;
}

/*--Nosotros--*/
.about-section {
    padding: 80px 120px;
    background: var(--color-fondo);
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.team-section {
    padding: 80px 120px;
    background: var(--color-fondo);
}

.team-title {
    font-size: 2.6rem;
    color: var(--color-texto);
    margin-bottom: 15px;
    font-family: 'Georgia', serif;
}

.team-subtitle {
    color: var(--color-gris);
    font-size: 1.15rem;
    max-width: 850px;
    line-height: 1.7;
    margin-bottom: 40px;
}

/* Texto */
.about-text .tag {
    display: inline-block;
    background: rgba(46, 122, 103, 0.15);
    color: var(--color-principal);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: var(--text-small * 2);
}

.about-text h2 {
    font-size: 2.8rem;
    color: var(--color-texto);
    margin: 20px 0 25px;
    font-family: 'Georgia', serif;
}

.about-text p {
    color: var(--color-gris);
    line-height: 1.7;
    margin-bottom: 18px;
    font-size: 1.1rem;
}

/* Cards */
.about-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.stat-card {
    background: white;
    padding: 30px;
    border-radius: var(--radius-lg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform .25s ease;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card i {
    font-size: 32px;
    color: var(--color-principal);
    margin-bottom: 10px;
}

.stat-card h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--color-texto);
}

.stat-card p {
    margin: 5px 0 0;
    color: var(--color-gris);
    font-size: 0.95rem;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 25px;
}

/* ===== CARD ===== */
.team-card {
    background: white;
    padding: 25px;
    border-radius: var(--radius-lg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    transition: transform .25s ease;
}

.team-card:hover {
    transform: translateY(-6px);
}

/* Foto */
.team-photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radius-lg);
    margin-bottom: 18px;
}

.admin-photo {
    width: 30%;
    height: 350px;
    object-fit: cover;
    border-radius: var(--radius-lg);
    margin-bottom: 18px;
}

/* Nombre */
.team-card h3 {
    font-size: 1.4rem;
    color: var(--color-texto);
    margin-bottom: 5px;
}

.rating {
    color: #d4a817;
    font-size: 1rem;
}

/* Bot칩n */
.btn-reservar {
    display: inline-block;
    margin: 10px 0 15px;
    padding: 10px 22px;
    background: var(--color-principal);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: var(--radius-sm);
    transition: background .2s ease;
}

.btn-reservar:hover {
    background: var(--color-secundario);
}

/* Descripci칩n */
.team-description {
    color: var(--color-gris);
    line-height: 1.6;
    font-size: 1rem;
}